a { text-decoration: none; color: currentColor; }
ol, ul { list-style: none; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
html { font-size: 16px; font-family: 'Lato', sans-serif; scrollbar-width: none; }
*,*::before,*::after { margin: 0; padding: 0; border: none; box-sizing: border-box; }

.rotate-270 { transform: rotate(270deg); }
.flex-18 { flex: 18%; }

.clr-white { color: #ffffff; }
.clr-green { color: #4cc800; }
.clr-red { color: #c36656; }

.b-0 { bottom: 0; }

.max-h-160 { max-height: 160px; }
.min-h-96 { min-height: 96px; }

.min-w-32 {min-width: 32px; }
.min-w-18p {min-width: 18%; }
.max-w-50p {max-width: 50%; }

.flex-wrap { flex-wrap: wrap; }
.ov-auto { overflow: auto; scroll-behavior: smooth; scrollbar-width: none; }
.bg-white { background-color: #ffffff; }
.bg-black { background-color: #000000; }
.bg-lightblack { background-color: #222222; }
.bg-orange { background-color: orange; }

.obj-fit > img { object-fit: cover; }
nav a:hover { background-color: rgba(255, 255, 255, .10); }

.bg-rgb-black-40 { background-color: rgba(0, 0, 0, .40); }
.bg-rgb-white-20 { background-color: rgba(255, 255, 255, .20); }
.bg-rgb-white-20:hover { background-color: rgba(255, 255, 255, .10); }


.flex { display: flex; } 
.flex-col { flex-direction: column; } 
.h-screen { height: 100vh; } 
.fixed { position: fixed; } 
.w-100p { width: 100%; } 
.z-10 { z-index: 10; } 
.ai-center { align-items: center; } 
.jc-end { justify-content: flex-end; } 
.p-6 { padding: 6px; } 
.p-8 { padding: 8px; } 
.mr-8 { margin-right: 8px; } 
.px-8 { padding-left: 8px; padding-right: 8px; } 
.py-4 { padding-top: 4px; padding-bottom: 4px; } 
.bdrd-4 { border-radius: .25rem; }
.bdrd-8 { border-radius: .5rem; }
.td-none { text-decoration: none; } 
.trs-background { transition: background 200ms cubic-bezier(0.4, 0, 0.2, 1); } 
.mr-4 { margin-right: 4px; } 
.mr-6 { margin-right: 6px; } 
.p-4 { padding: 4px; } 
.flex-grow-1 { flex-grow: 1; }
.w-90p { width: 90%; }
.mx-auto { margin: 0 auto; }
.flex-auto { flex: 1 1 auto; }
.gap-8 { gap: 8px; }
.py-80 { padding-top: 80px; padding-bottom: 80px; }
.ov-auto { overflow: auto; }
.ov-hidden { overflow: hidden; }
.jc-between { justify-content: space-between; }
.ai-stretch { align-items: stretch; }
.px-6 { padding-left: 6px; padding-right: 6px; }
.relative { position: relative; }
.absolute { position: absolute; }
.t-0 { top: 0; }
.b-0 { bottom: 0; }

/* Typography */
.ta-right { text-align: right; }

.fsz-14 { font-size: .875rem; line-height: 1.25rem; }
.fsz-16 { font-size: 1rem; line-height: 1.5rem; }
.fsz-20 { font-size: 1.25rem; line-height: 1.5rem; }
.fsz-24 { font-size: 1.5rem; line-height: 1.875rem; }

.fw-700 { font-weight: 700; }

.bg-gradient { background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.05)) }
.bg-gradient-t { background: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.00)) }

.bg-gradient:hover { background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1)) }
.bg-gradient-t:hover { background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.05)) }